[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-builder = {ref = "devel", git = "https://github.com/ansible/ansible-builder.git"}

[dev-packages]

[requires]
python_version = "3.10"
